
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      <%block name="title">SuhLabs eMASS Technology Add-on</%block>
    </title>
    <%block name="css"></%block>
    <link
      rel="stylesheet"
      type="text/css"
      href="${make_url('/static/app/TA-suhlabs-eMASS/css/custom.css')}"
    />
  </head>
  <body>
    <%block name="content"></%block> 
    <%block name="scripts">
    <script
      src="${make_url('/config?autoload=1')}"
      crossorigin="use-credentials"
    ></script>
    <script src="${make_url('/static/js/i18n.js')}"></script>
    <script src="${make_url('/i18ncatalog?autoload=1')}"></script>
    <script>
      __splunkd_partials__ = {
        splunkd: "${make_url('/splunkd')}",
      };
    </script>
    <script
      type="module"
      src="${make_url('/static/app/TA-suhlabs-eMASS/js/build/entry_page.js')}"
    ></script>
    </%block>

  </body>
</html>
